.t{
    border: 1px solid;
    color: white;
    border-color: white;
}
.a{
    border: 1px solid white;
    color: white;
}
.l{
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 15px;
    padding-bottom: 15px;
}